body { background-color: #E2FFFF;
      color: #15495E; }

h1 { background-color: #237B7B;
     color: #E2FFFF; }

h2 { background-color: #B0E6E6;
     color: #237B7B; }
nav a { text-decoration: none; }

.feature { color: #C70000; }

footer { color: #333333;
         font-size: .75em;
         font-style: italic; }

.company { font-weight: bold;
           font-family: Georgia, "Times New Roman", serif;
           font-size: 1.25em; }

#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%; }
