 footer {
	 background-color: #47a7bf;
	 font-family: ariel;
	 color: #245580;
	 padding: 20px;
	 border: 1px dashed #425580;
	 clear: both;
 }

 .notice {
	 width: 80%;
	 text-align: center;
 }
 
 .headline {
	 color: #631e13;
	 border-bottom: 2px dotted #631e13;
	 padding-bottom: 5px;
 }
 h1 {
	 font-family: sans serif;
	 font-size: 4em;
	 background-color: rgba(0, 0, 0, 0.5);
	 text-shadow: 3px 3px 5px rgba(0,0,0,0.6);
	}
	
 .section {
	 color: red;
	 font-family: ariel;
	 font-size: small;
	 width: 80%
	 background-color: #f5f5f5;
	 box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }
	 
	a:link {
		color: blue;
	}
	
	a:visited {
		color: purple;
	}
	
	a:hover {
		color: pink;
	}

	img {
		float: right;
		margin: 0 0 15px 15px;
	}

	p {
		width: 70%;
	}




